<div class="footer clear">
  <div class="left linkUs">
    <p class="font16">联系我们</p>
    <p>联系qq ：1164898318</p>
    <p>地址 ：广州市天河区长湴</p>
  </div>
  <div class="right hide-on-mobile">
    <div class="friendly-link inline-block">
      <p class="font16">友情链接</p>
      <a href="http://www.haochencw.com" target="_blank">广州注册公司</a>
      <a href="http://www.haochencw.com" target="_blank">广州注册公司</a>
      <a href="http://www.haochencw.com" target="_blank">广州注册公司</a>
      <a href="http://www.haochencw.com" target="_blank">广州注册公司</a>
      <a href="http://www.haochencw.com" target="_blank">广州注册公司</a>
    </div>
    <div class="weChat text-right inline-block">
      <img src="/images/WeChat.jpg">
    </div>
  </div>
</div>