<div class="header">
  <ul class="clear">
    <li><a class="<%= current=='0'?"blue":""%>" href="/">首页</a></li>
    <li><a class="<%= current=='1'?"blue":""%>" href="/sh">社会</a></li>
    <li><a>政府</a></li>
  </ul>
</div>
